@charset "utf-8"
/*
  

   This file contains the base styles used by all pages in the website

*/

/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}


/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {	
	background-color:hsl(132, 4%,70%);
}
section#rightColumn h1 {	
	font-family:'Roboto', san-serif;
	color: rgb(78,88,54);
	font-size:2.5em;	
}

section#rightColumn p {	
	font-family:'Roboto', san-serif;
	color: rgb(0, 0,0);
	font-size: 1.2em;
	line-height: 1.4em;
}

nav.horizontalNavigation a {
   font-family: 'Century Gothic';   
	font-size: 1em;
   line-height: 2.8em;
   text-align: center;	
	text-decoration:none;
color: rgb(78,88,54);	
}  	

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   text-decoration: underline;
	opacity:0.8;
}

body > footer {
	font-size: 0.9em;
   /*color: rgb(186, 186, 156);*/
	/*color:hsl(38,42%,70%);*/
	color:hsl(132,11%,70%);
}
body > footer h1 {
   /*color: rgb(248, 248, 186);*/
	color:hsl(38,42%,70%);
	/*color:hsl(132,11%,91%);*/
	/*color: rgb(78,88,54);*/
   font-size: 1.1em;
   font-weight: normal;
   letter-spacing: 0.2em;
   margin: 1em 0 0.5em 0.6em;
}
section#copyRight {
	text-align: center;	
	font-size:0.9em;	
}
	
/* Vertical Navigation Styles */

nav.verticalNavigation ul {
   margin-left: 0.7em;
   line-height: 2em;	
}

 nav.verticalNavigation a {
	/*color:hsl(38,42%,70%);*/
	color:hsl(132,11%,70%)!important;
text-decoration:none;
}

nav.verticalNavigation a:link, 
nav.verticalNavigation a:visited {
   color: rgb(186, 186, 156);
}

nav.verticalNavigation a:hover, 
nav.verticalNavigation a:active {
   text-decoration: underline;
}

/* Contact Info Styles */

section#contactInfo p {
   line-height: 1.5em;
   margin-left: 0.8em;
	
}   
