@charset "utf-8"
/*
   This file contains the base styles used by the upload_setup.html
	
	Author: Ibing Maharlika
   Date: 9/23/24
*/

/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, hgroup, main, nav, img, section {
	display: block;
}

/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {		
	background-color:hsl(132, 4%,70%);		
}

body > header > img {
	margin:0;
}

nav.horizontalNavigation ul{
	margin:0;
}
body > header > nav.horizontalNavigation li {
	text-align: center;
}

nav.horizontalNavigation a {
   font-family: 'Roboto';   
	font-size: 1.2em;
   line-height: 2.8em;   
	text-decoration:none;
	color: rgb(78,88,54);
}  	

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   text-decoration: underline;
	opacity:0.8;
}

body {
	margin-left: auto;
   margin-right: auto;
	background-color:hsla(132,11%,91%,70%);
}

sup {
    font-size: 0.5em !important; /* Adjust the size as needed */
}    

ol {
	margin-left: 110px;
	margin-right:110px;
	font-family:'Roboto', san-serif;
	color: rgb(0, 0,0);
	font-size: 1.2em;
	line-height: 1.3em;
}

ul{
	margin-left:40px;
}

h1 {
   font-size: 2.4em;
   line-height: 2em;
   font-family: 'Roboto', san-serif;
   letter-spacing: 0.3em;
   text-align: center;
   font-weight: normal;
   color: rgb(78,88,54);
	text-decoration:underline;
	margin-top:70px;	
}

h2 {
   font-size: 1.4em;
   line-height: 1.8em;
   font-family: 'Roboto', san-serif;
   letter-spacing: 0.1em;
   text-align: left;
   font-weight: normal;
   color: rgb(78,88,54);
	margin-left:60px;
}
#references li {
	margin-left:70px;
}
body > footer {
	/*font-size: 0.9em;  */
	font-size:clamp(0.6em, 2vw, 0.8em);
	color:hsl(132,11%,70%)!important;
}


 